.fav-container{
    padding-top: 70px;
    padding-left: 0px;
    width: 100vw;
}

.fav-content-container{
    padding: 20px;
}

@media screen and (max-width: 768px){
    .fav-content-container{
        padding-top: 100px;
    }
}

.fav-empty-view-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}


.fav-empty-img{
    width: 18%;
}

@media screen and (max-width: 768px){
    .fav-empty-img{
        width: 60%;
    }
}