
.slider-container{
    padding: 30px;
    padding-top: 100px;
    background-color: #e1eef5;
}

.carouselImage{
    width: 100%;
}

.carousalButton{
    background-color: red;
}

@media screen and (max-width: 768px){
    .slider-container{
        padding-top: 150px;
        width: 100%;
    }
}
